<h2>Items</h2>
<% @items.each do |item| %>
  <img src="<%= item.image_url %>">
  <h3><a href="/items/<%= item.id %>"><%= item.name %></a></h3>
  <p><strong>Price:</strong> $<%= item.price %></p>
<% end %>

<h3>Make a purchase</h3>
<form action="/purchases" method="POST">
  <p>Please input how many items you would like to purchase:</p> 
    <% @items.each do |item| %>
      <p><%= item.name %> <input type="number" name="<%= item.name %>" min="0" max="5" value="0"></p>
    <% end %>  
  <input class="btn btn-primary" type="submit">
</form>
